.navbar-default{
	background-color:#0066B3 !important;
	font-family: "Raleway"!important;
	color: #ffffff !important;
}

.navbar-brand{
	font-family: "Raleway" !important;
	background-color: #00b38b;
	color: #ffffff !important;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
	background-color: #00b38b;
}

body{
	font-family: "Raleway" !important;
}

.navbar-default .navbar-nav > li > a{
	color:#ffffff !important;
	font-family: "Raleway" !important;
}

.dropdown-menu > li > a{
	color:#ffffff !important;
	font-family: "Raleway" !important;
}

.navbar-default .navbar-nav > .open > a{
	background-color: #00b38b;
	color: #ffffff !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
	background-color: #00b38b;
	color: #ffffff !important;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
	background-color:#aa6600;
}

#left-dropdown{
	background-color:#ff9200;
	color: #ffffff !important;
}

#right-dropdown{
	background-color:#ff6200;
	color: #ffffff !important;
}

a.toggler {
    background: green;
    cursor: pointer;
    border: 2px solid black;
    border-right-width: 15px;
    padding: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .5s ease;
}

a.toggler.off {
    background: red;
    border-right-width: 2px;
    border-left-width: 15px;
}